DEVELOPMENT_TEAM = K7LY92JY96
MACOSX_DEPLOYMENT_TARGET = 13.0
AUTOFILL_APP_GROUP = K7LY92JY96.com.sommir.barwarden.autofill
AGENT_BUNDLE_IDENTIFIER = com.sommir.barwarden.autofill-agent
CREDENTIAL_PROVIDER_BUNDLE_IDENTIFIER = com.sommir.barwarden.credential-provider
MARKETING_VERSION = 0.1.15
CURRENT_PROJECT_VERSION = 1
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Automatic
ENABLE_HARDENED_RUNTIME = YES
