<popup-page>
  <popup-header slot="header" [pageTitle]="'archive' | i18n" showBackButton [backAction]="backAction">
    <ng-container slot="end">
      <button
        bitIconButton="bwi-popout"
        size="small"
        type="button"
        [label]="'i18nPopOut' | i18n"
        (click)="popOut.emit()"
      ></button>
    </ng-container>
  </popup-header>

  @if (items.length) {
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "i18nArchiveItems" | i18n }}</h2>
        <span bitTypography="body1" slot="end">{{ items.length }}</span>
      </bit-section-header>
      <bit-item-group>
        @for (item of items; track item.id) {
          <bit-item>
            <button
              bit-item-content
              type="button"
              [attr.aria-label]="'i18nViewItem' | i18n: item.name"
              [attr.data-testid]="'archive-view-' + item.id"
              [attr.data-popup-focus-key]="'archive-item:' + item.id"
              (click)="emit('view', item)"
            >
              <div slot="start" class="tw-justify-start tw-w-7 tw-flex">
                <bw-vault-item-icon [item]="item" />
              </div>
              <span data-testid="item-name">{{ item.name }}</span>
              <span slot="secondary">{{ item.subtitle }}</span>
            </button>
            <bit-item-action slot="end">
              <button
                #moreTrigger
                type="button"
                bitIconButton="bwi-ellipsis-v"
                size="small"
                [label]="'i18nArchiveOptions' | i18n: item.name"
                [bitMenuTriggerFor]="moreOptions"
                [attr.data-popup-focus-key]="'archive-item:' + item.id"
              ></button>
              <bit-menu #moreOptions [ariaLabel]="'i18nArchiveOptions' | i18n: item.name">
                <button type="button" bitMenuItem [attr.data-popup-focus-key]="'archive-item:' + item.id" (click)="emit('edit', item)">{{ "i18nEdit" | i18n }}</button>
                <button type="button" bitMenuItem [attr.data-popup-focus-key]="'archive-item:' + item.id" (click)="emit('clone', item)">{{ "i18nClone" | i18n }}</button>
                <button type="button" bitMenuItem (click)="emit('unarchive', item, moreTrigger.getFocusTarget())">{{ "i18nUnarchive" | i18n }}</button>
                <button type="button" bitMenuItem variant="danger" (click)="emit('soft-delete', item, moreTrigger.getFocusTarget())">
                  {{ "i18nDelete" | i18n }}
                </button>
              </bit-menu>
            </bit-item-action>
          </bit-item>
        }
      </bit-item-group>
    </bit-section>
  } @else {
    <bit-no-items class="tw-flex tw-h-full tw-items-center tw-justify-center">
      <ng-container slot="title">{{ "i18nNoArchivedItems" | i18n }}</ng-container>
      <ng-container slot="description">{{ "i18nArchivedItemsHint" | i18n }}</ng-container>
    </bit-no-items>
  }
</popup-page>
