:host {
  display: contents;
}

.vault-autofill-suggestions__capabilities {
  min-width: max-content;
  font-size: 0.875rem;
}

.vault-autofill-suggestions__fill {
  min-width: max-content;
  margin-inline-end: 0.25rem;
}

@media (max-width: 390px) {
  .vault-autofill-suggestions__capabilities {
    gap: 0.25rem;
  }
}

@media (forced-colors: active) {
  .vault-autofill-suggestions__capabilities {
    color: CanvasText;
  }
}
