:host {
  display: contents;
}

.vault-autofill-suggestions {
  display: block;
  width: 100%;
}

.vault-autofill-suggestions__layout {
  padding-bottom: 0;
}

.vault-autofill-suggestions__fill {
  min-width: max-content;
  margin-inline-end: 0.25rem;
}
