@for (credential of credentials$ | async; track credential; let historyIndex = $index) {
  <bit-item
    class="macos-generator-history__row macos-row macos-row--double"
    role="listitem"
    [attr.aria-label]="getGeneratedValueText(credential)"
  >
    <bit-item-content>
      <bit-color-password class="tw-font-mono" [password]="credential.credential" />
      <div slot="secondary">
        {{ credential.generationDate | date: "medium" }}
      </div>
    </bit-item-content>
    <ng-container slot="end">
      <bit-item-action>
        <button
          type="button"
          bitIconButton="bwi-clone"
          [attr.data-popup-focus-key]="'generator-history:' + credential.generationDate.getTime() + ':' + historyIndex"
          [label]="getCopyText(credential)"
          (click)="copy(credential, $event.currentTarget)"
        >
          {{ getCopyText(credential) }}
        </button>
      </bit-item-action>
    </ng-container>
  </bit-item>
}
