<popup-page class="macos-generator">
  <popup-header slot="header" [pageTitle]="'generator' | i18n">
    <ng-container slot="end">
      <bw-popup-header-actions />
    </ng-container>
  </popup-header>
  <bw-official-generator-core />
  <bit-item class="macos-generator__history-row">
    <a class="macos-generator__history-link" bit-item-content routerLink="/generator-history">
      {{ "generatorHistory" | i18n }}
      <i slot="end" class="bwi bwi-angle-right" aria-hidden="true"></i>
    </a>
  </bit-item>
</popup-page>
