<form [bitSubmit]="submit" [formGroup]="formGroup" class="macos-auth-card">
  <div [ngClass]="{ 'tw-hidden': loginUiState !== LoginUiState.EMAIL_ENTRY }">
    <!-- Email Address input -->
    <bit-form-field class="macos-field">
      <bit-label>{{ "emailAddress" | i18n }}</bit-label>
      <input
        id="email"
        type="email"
        formControlName="email"
        bitInput
        appAutofocus
        data-testid="login-email-input"
        #emailInputRef
        (input)="onEmailInput($event)"
        (keyup.enter)="continuePressed()"
      />
    </bit-form-field>

    <!-- Remember Email input -->
    <bit-form-control>
      <input
        type="checkbox"
        formControlName="rememberEmail"
        data-testid="login-remember-email"
        (input)="onRememberEmailInput($event)"
        bitCheckbox
      />
      <bit-label>{{ "rememberEmail" | i18n }}</bit-label>
    </bit-form-control>

    <div class="tw-grid tw-gap-3">
      <!-- Continue button -->
      <button
        type="button"
        bitButton
        block
        buttonType="primary"
        class="macos-primary-action"
        data-testid="login-continue-button"
        (click)="continuePressed()"
      >
        {{ "continue" | i18n }}
      </button>


    </div>
  </div>

  <div [ngClass]="{ 'tw-hidden': loginUiState !== LoginUiState.MASTER_PASSWORD_ENTRY }">
    <!-- Master Password input -->
    <bit-form-field class="!tw-mb-1 macos-field">
      <bit-label>{{ "masterPass" | i18n }}</bit-label>
      <input
        id="masterPassword"
        [type]="showPassword ? 'text' : 'password'"
        autocomplete="current-password"
        formControlName="masterPassword"
        bitInput
        data-testid="login-master-password-input"
        #masterPasswordInputRef
        (input)="onMasterPasswordInput()"
      />
      <button
        type="button"
        [bitIconButton]="showPassword ? 'bwi-eye-slash' : 'bwi-eye'"
        bitSuffix
        (click)="passwordVisibilityChanged(!showPassword)"
        (pointerdown)="preservePasswordFocus($event)"
        [attr.aria-label]="passwordVisibilityLabel"
        [attr.title]="passwordVisibilityLabel"
        data-testid="login-password-visibility"
      ></button>
    </bit-form-field>

    <div class="macos-auth-validation">
      <bit-callout
        *ngIf="loginError"
        type="danger"
        data-testid="login-error"
        (dismiss)="dismissLoginError()"
      >
        <p bitTypography="body1">{{ loginError }}</p>
      </bit-callout>
    </div>

    <!-- Link to Password Hint page - doesn't use bit-hint so that it doesn't get hidden on input validation errors -->
    <a bitLink routerLink="/hint" (click)="goToHint()" class="tw-inline-block tw-mb-4">
      {{ "hint" | i18n }}
    </a>

    <div class="tw-grid tw-gap-3">
      <!-- Submit button to Login with Master Password -->
      <button
        type="submit"
        bitButton
        bitFormButton
        block
        buttonType="primary"
        class="macos-primary-action"
        [disabled]="submitting"
        data-testid="login-submit-button"
      >
        {{ "logIn" | i18n }}
      </button>


      <!-- Back button -->
      <ng-container *ngIf="shouldShowBackButton()">
        <button
          type="button"
          bitButton
          block
          buttonType="secondary"
          [disabled]="submitting"
          data-testid="login-back-button"
          (click)="backButtonClicked()"
        >
          {{ "back" | i18n }}
        </button>
      </ng-container>
    </div>
  </div>
</form>

<bw-login-environment-selector
  (serverUrlChange)="selectEnvironment($event)"
  (environmentValidChange)="environmentIsValid = $event"
  (interactionStarted)="captureEmailValidationState()"
  (interactionCompleted)="restoreEmailValidationState()"
/>
