<popup-page>
  <popup-header
    slot="header"
    [pageTitle]="'i18nSendCreated' | i18n"
    showBackButton
    [backAction]="backAction"
  >
    <ng-container slot="end">
      <button bitIconButton="bwi-popout" type="button" [attr.aria-label]="'i18nPopOut' | i18n" (click)="popOut.emit()"></button>
    </ng-container>
  </popup-header>

  <section class="macos-send-created__summary" aria-labelledby="send-created-title">
    <div class="macos-send-created__icon" aria-hidden="true">
      <bit-svg [content]="sendCreatedIcon" />
    </div>
    <h2 id="send-created-title" tabindex="-1">{{ "i18nSendCreatedSuccess" | i18n }}</h2>
    <p>
      @if (send().hasPassword) {
        {{ "i18nSendPasswordExpires" | i18n: formattedExpiration() }}
      } @else {
        {{ "i18nSendExpires" | i18n: formattedExpiration() }}
      }
    </p>
    <label for="send-created-link">{{ "i18nCopySendLink" | i18n }}</label>
    <input
      id="send-created-link"
      data-testid="created-link"
      type="text"
      readonly
      [value]="link()"
      [attr.aria-label]="'i18nCopySendLink' | i18n"
    />
  </section>
  <popup-footer slot="footer">
    <button data-testid="created-copy" bitButton type="button" buttonType="primary" (click)="copyLink.emit($event)">
      {{ "i18nCopySendLink" | i18n }}
    </button>
    <button data-testid="created-close" bitButton type="button" buttonType="secondary" (click)="close.emit()">
      {{ "close" | i18n }}
    </button>
  </popup-footer>
</popup-page>
